streamlit_option_menu
bokeh==2.4.1
streamlit==1.10
python-dotenv==0.20.0
fiftyone==0.16.2
umap-learn==0.5.3
GitPython
tqdm==4.64.0
torch==1.11.0
torchvision==0.12.0
mdutils==1.4.0
dvc==2.11.0
dvc[azure]
dvc[gdrive]